section.about-section
  .wrapper
    .about-section__container
      h2.about-section__title.font-w-g-bold.font-s-40
        | Обращение 
        br.no-br
        | к новым партнерам
      .about-section__owner-block
        .about-section__owner-block-round
        .font-w-regular.font-s-14 Сергей Ивков <br> Основатель компании
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1200" height="1608" alt="image")
      .about-section__content
        img.about-section__quotes(src="images/about-section-quotes.svg" loading="lazy" width="72" height="155" alt="quotes")
        .font-w-regular.font-s-18
          | Столярная мастерская «LOFTWOOD» открылась в 2009 году в 
          br.no-br-md
          | небольшом помещении площадью 30 м2. За 15 лет работы мы 
          br.no-br-md
          | выросли до крупной компании с 10 сотрудниками в штате и 
          br.no-br-md
          | производством площадью 300 м2. Мы занимаемся мебелью в стиле 
          br.no-br-md
          | ЛОФТ, это максимально актуальное направление, как для квартир 
          br.no-br-md
          | и частных домов, так и для ресторанов, кафе, салонов красоты, 
          br.no-br-md
          | гостиниц и офисов.
          br
          br
          | За 15 лет мы выработали идеальную схему работы, наладили 
          br.no-br-md
          | партнерские отношения с поставщиками и сформировали 
          br.no-br-md
          | ассортимент, который пользуется спросом у целевой аудитории. 
          br.no-br-md
          | Отгрузки с нашего склада осуществляются практически каждый 
          br.no-br-md
          | день, а сотрудничество с транспортными компаниями позволяет 
          br.no-br-md
          | продавать мебель в другие города и регионы.
          br
          br
          | Запуская бизнес в этой сфере, крайне важно получить помощь и 
          br.no-br-md
          | поддержку, чтобы избежать основных ошибок на старте. Франчайзи 
          br.no-br-md
          | «LOFTWOOD» получают возможность быстрого развития в своем 
          br.no-br-md
          | деле. Мы передадим вам весь наш опыт и знания, чтобы ваша 
          br.no-br-md
          | мастерская процветала и росла с каждым годом.
