section.presentation-section
  .wrapper
    .presentation-section__container
      h2.presentation-section__title.font-w-g-bold.font-s-40
        | Примеры работ 
        br.no-br
        | выполненных мастерами 
        br.no-br
        span.color-yellow «LOFTWOOD»
      .swiper-desktop
        .presentation-section__cards.swiper-wrapper
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="720" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="720" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="720" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="720" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img2.jpg" loading="lazy" width="720" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img3.jpg" loading="lazy" width="720" height="800" alt="image")
          .presentation-section__card.swiper-slide
            img.presentation-section__img(src="images/presentation-section-img1.jpg" loading="lazy" width="720" height="800" alt="image")
        .desktop-pagination.swiper-pagination
        .swiper-button
          button.button-next(aria-label="prev")
            img(src="images/presentation-section-btn.png" loading="lazy" width="60" height="60" alt="prev")
          button.button-prev(aria-label="next")
            img(src="images/presentation-section-btn.png" loading="lazy" width="60" height="60" alt="next")
      .presentation-section__bottom

