section.steps-section
  .wrapper
    .steps-section__container
      h2.steps-section__title.font-s-40.font-w-g-bold.text-center
        | Как будет проходить 
        br.no-br
        | открытие вашей собственной 
        br.no-br
        | мастерской
      .swiper-steps
        .steps-section__cards.swiper-wrapper
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 1
            .font-w-regular.font-s-18 Заключение <br> договора франшизы
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 2
            .font-w-regular.font-s-18 Поиск помещения
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 3
            .font-w-regular.font-s-18 Заключение договора <br> аренды
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 4
            .font-w-regular.font-s-18 Ремонт и оформление <br> помещения
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 5
            .font-w-regular.font-s-18 Приобретение оборудования
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 6
            .font-w-regular.font-s-18 Подбор персонала
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 7
            .font-w-regular.font-s-18 Обучение сотрудников
          .steps-section__card.swiper-slide
            .steps-section__card-title
              .font-w-bold.font-s-24 Этап
              .steps-section__card-num.font-w-bold.font-s-18 8
            .font-w-regular.font-s-18 Официальное открытие <br> и старт работы
        .steps-pagination.swiper-progress-steps
      .steps-section__bottom
        img.steps-section__bottom-icon(src="images/steps-section-bottom-icon.png" loading="lazy" width="570" height="340" alt="icon")
        .font-w-regular.font-s-22
          | Работаем строго по договору,
          br.no-br
          | в котором описаны наши обязанности 
          br.no-br
          | и все условия сотрудничества
      button.btn.steps-item(data-remodal-target="modal-form-agreement") Скачать пример договора
