.presentation-section
  background-image: url('../images/presentation-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #282828

  &__container
    position relative
    padding 20px 0 0 0
    +above($breakpoints.sm)
      padding 40px 0 0 0
    +above($breakpoints.md)
      padding 80px 0 0 0
    +above($breakpoints.xxl)
      padding 120px 0 0 0

  &__title
    text-align: center
    color: #fff
    padding-bottom 20px
    +above($breakpoints.sm)
      padding-bottom 30px
    +above($breakpoints.md)
      padding-bottom 35px
    +above($breakpoints.xxl)
      padding-bottom 40px


  &__bottom
    padding-bottom 20px
    +above($breakpoints.sm)
      padding-bottom 40px
    +above($breakpoints.md)
      padding-bottom 80px
    +above($breakpoints.xxl)
      padding-bottom 190px

  &__cards
    position relative

  &__card
    width 280px !important
    +above($breakpoints.sm)
      width 357px !important
    +above($breakpoints.md)
      width 314px !important
    +above($breakpoints.xxl)
      width 360px !important

  &__img
    width 280px
    height: auto
    border-radius: 20px
    +above($breakpoints.sm)
      width 357px
    +above($breakpoints.md)
      width 314px
    +above($breakpoints.xxl)
      width 360px
