$base-font-family = "Manrope-Regular"

$breakpoints = {
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1300px,
  xxl: 1400px,
  xxxl: 1500px,
  xxxxxxl: 1921px,
  xxxxxxxl: 3281px,
}

// //

$color-dark = #1E1E1E
$color-yellow = #F7BA0A
$color-grey = #424241


$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-white = #FFFFFF
$color-black = #000000
$color-grey-main = #303030
$color-privacy-btn = #F7BA0A
